body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#collage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para evitar que las imágenes se desborden del contenedor */
}

.photo {
    width: calc(15% - 20px); /* Ajustar el tamaño de las imágenes y la separación */
    height: calc(15vh - 10px); /* Ajustar el tamaño de las imágenes y la separación */
    margin: 5px; /* Agregar espacio entre las imágenes */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid white; /* Agregar un borde blanco */
    box-sizing: border-box; /* Incluir el borde en el cálculo del tamaño */
    max-width: 100%; /* Ancho máximo para la imagen */

}




.message {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media queries para hacer la página responsive */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }
}
